@model Project3.ModelsView.Identity.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<section class="section doctors">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-sm-6 col-md-6 mb-4 shuffle-item sidebar-widget schedule-widget m-auto">
                <form asp-action="ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group w-100">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <strong><span class="text-danger pr-2">&#8727;</span>Current password:</strong>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="CurrentPassword" id="current" type="password" class="form-control" />
                                <input type="checkbox" id="showCurrent" /> Show current password

                            </div>
                            <div class="col-md-9">
                                <span asp-validation-for="CurrentPassword" class="d-flex text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2">
                            <div class="col-md-6">
                                <strong><span class="text-danger pr-2">&#8727;</span>New password:</strong>
                            </div>

                            <div class="col-md-6">
                                <input asp-for="NewPassword" id="password" type="password" class="form-control" />
                                <input type="checkbox" id="showPassword" /> Show password
                            </div>
                            <div class="col-md-9 ">
                                <span asp-validation-for="NewPassword" class="d-flex text-danger"></span>
                                <div class="text-danger">
                                    @if (ViewData.ModelState.ContainsKey("PasswordTooShort"))
                                    {
                                        <span>@ViewData.ModelState["PasswordTooShort"].Errors.First().ErrorMessage</span>
                                    }

                                    @if (ViewData.ModelState.ContainsKey("PasswordRequiresLower"))
                                    {
                                        <span>@ViewData.ModelState["PasswordRequiresLower"].Errors.First().ErrorMessage</span>
                                    }


                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-center mt-2">
                            <div class="col-md-6">
                                <strong><span class="text-danger pr-2">&#8727;</span>Confirm password:</strong>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="ConfirmPassword" id="confirm" type="password" class="form-control" />
                                <input type="checkbox" id="showConfirm" /> Show password

                            </div>
                            <div class="col-md-9">
                                <span asp-validation-for="ConfirmPassword" class="d-flex text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center w-100 mt-4">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a asp-action="Index" asp-controller="Profile" class="btn btn-secondary mx-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


