
@{
    Layout = null;
}

<h2>Email Confirmation Successful</h2>
<p>Congratulations! Your email address has been successfully confirmed.</p>
<span>You can now log in <a asp-controller="Account" asp-action="Login">Here</a></span>
